@font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/subset-SegoeUI.woff2") format('woff2'), url("../fonts/subset-SegoeUI.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url("../fonts/subset-SegoeUI-Light.woff2") format('woff2'), url("../fonts/subset-SegoeUI-Light.woff") format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}