<div class="panel__top">
    <div class="panel__top-left">
        <button class="panel__top-button is-active" type="button">Видеостена</button>
        <button class="panel__top-button" type="button">Конференция</button>
        <button class="panel__top-button" type="button">Телевидение</button>
        <button class="panel__top-button" type="button">Звук</button>
        <button class="panel__top-button" type="button">Мониторинг</button>
    </div>
    <div class="panel__top-right">
        <svg>
            <use xlink:href="#circle-half-stroke"></use>
        </svg>
        <button class="panel__top-button-2 is-active" type="button">День</button>
        <button class="panel__top-button-2" type="button">Ночь</button>
    </div>
</div>