<div class="panel__bottom">
    <div class="panel__bottom-sound">
        <svg>
            <use xlink:href="#sound"></use>
        </svg>
        <button class="panel__button panel__button--type_2" type="button">ТВ - 1</button>
        <button class="panel__button panel__button--type_2" type="button">ВКС</button>
        <button class="panel__button panel__button--type_2" type="button">ТВ - 2</button>
    </div>
    <div class="panel__bottom-clock">
        <svg>
            <use xlink:href="#clock"></use>
        </svg>
        18 : 00
    </div>
</div>