<div class="widget-grid-container">
    <div class="widget-grid">
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
    </div>
</div>