<div class="widget-grid-container">
    <div class="widget-grid">
        <div class="widget-cell">
            <div class="widget">
                <button class="widget__button widget__container" type="button">
                    <svg class="widget__icon">
                        <use xlink:href="#light_on"></use>
                    </svg>
                    <span class="widget__button-title">Свет</span>
                </button>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell width-2 height-1">
            <div class="widget">
                <button class="widget__button widget__container" type="button">
                    <svg class="widget__icon is-off">
                        <use xlink:href="#light_off"></use>
                    </svg>
                    <span class="widget__button-title">Свет</span>
                    <div class="widget__toggle">
                        <svg class="widget__toggle-icon is-off">
                            <use xlink:href="#toggle_off"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="widget-cell width-2 height-1">
            <div class="widget">
                <button class="widget__button widget__container is-on" type="button">
                    <svg class="widget__icon is-on">
                        <use xlink:href="#light_on"></use>
                    </svg>
                    <span class="widget__button-title">Свет</span>
                    <div class="widget__toggle">
                        <svg class="widget__toggle-icon is-on">
                            <use xlink:href="#toggle_on"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell">
            <div class="widget">
                <button class="widget__button widget__container" type="button">
                    <span class="widget__button-label text-center">MODE</span>
                    <span class="widget__button-title text-center">Auto</span>
                </button>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell">
            <div class="widget">
                <button class="widget__button widget__container" type="button">
                    <svg class="widget__icon is-off">
                        <use xlink:href="#light_off"></use>
                    </svg>
                    <span class="widget__button-title">Light</span>
                    <div class="widget__toggle">
                        <svg class="widget__toggle-icon is-off">
                            <use xlink:href="#toggle_off"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="widget-cell">
            <div class="widget">
                <button class="widget__button widget__container is-on" type="button">
                    <svg class="widget__icon is-on">
                        <use xlink:href="#light_on"></use>
                    </svg>
                    <span class="widget__button-title">Light</span>
                    <div class="widget__toggle">
                        <svg class="widget__toggle-icon is-on">
                            <use xlink:href="#toggle_on"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell width-2 height-1">
            <div class="widget">
                <button class="widget__button widget__container" type="button">
                    <span class="widget__button-label">Кондицонер</span>
                    <span class="widget__button-title">Auto</span>
                    <svg class="widget__icon widget__icon--medium widget__icon--at_right is-off">
                        <use xlink:href="#conditioner"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell">
            <div class="widget">
                <button class="widget__button widget__container" type="button">
                    <svg class="widget__icon widget__icon--big widget__icon--at_center is-on">
                        <use xlink:href="#phone_slash"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="widget-cell">
            <div class="widget">
                <button class="widget__button widget__container" type="button">
                    <span class="widget__button-title widget__button-title--at_center widget__button-title--big text-center">1</span>
                </button>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell width-2 height-2">
            <div class="widget">
                <button class="widget__button widget__container" type="button">
                    <svg class="widget__icon widget__icon--big is-off">
                        <use xlink:href="#light_off"></use>
                    </svg>
                    <span class="widget__button-label">Кондиционер</span>
                    <span class="widget__button-title">Auto</span>
                    <div class="widget__toggle widget__toggle--big">
                        <svg class="widget__toggle-icon is-off">
                            <use xlink:href="#toggle_off"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="widget-cell width-2 height-2">
            <div class="widget">
                <button class="widget__button widget__container is-on" type="button">
                    <svg class="widget__icon widget__icon--big is-on">
                        <use xlink:href="#light_on"></use>
                    </svg>
                    <span class="widget__button-label">Кондиционер</span>
                    <span class="widget__button-title">Auto</span>
                    <div class="widget__toggle widget__toggle--big">
                        <svg class="widget__toggle-icon is-on">
                            <use xlink:href="#toggle_on"></use>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell width-2 height-1">
            <div class="widget">
                <div class="widget__container">
                    <div class="widget__button-label">Нагрузка GPU</div>
                    <div class="widget__graph-block">
                        <div class="widget__button-title">75%</div>
                        <div class="widget__graph">
                            <div class="widget__graph-bar" style="height: 100%"></div>
                            <div class="widget__graph-bar" style="height: 85%"></div>
                            <div class="widget__graph-bar" style="height: 80%"></div>
                            <div class="widget__graph-bar" style="height: 70%"></div>
                            <div class="widget__graph-bar" style="height: 65%"></div>
                            <div class="widget__graph-bar" style="height: 90%"></div>
                            <div class="widget__graph-bar" style="height: 85%"></div>
                            <div class="widget__graph-bar" style="height: 80%"></div>
                            <div class="widget__graph-bar" style="height: 95%"></div>
                            <div class="widget__graph-bar" style="height: 98%"></div>
                            <div class="widget__graph-bar" style="height: 75%"></div>
                            <div class="widget__graph-bar" style="height: 75%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell">
            <div class="widget">
                <div class="widget__container">
                    <span class="widget__button-label text-center">CPU</span>
                    <span class="widget__button-title text-center">75%</span>
                </div>
            </div>
        </div>
        <div class="widget-cell">
            <div class="widget">
                <div class="widget__container">
                    <span class="widget__button-label text-center">GPU</span>
                    <span class="widget__button-title text-center">35%</span>
                </div>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell width-3 height-1">
            <div class="widget">
                <div class="js-widget-slider widget__container widget__container--slider_horizontal">
                    <button class="js-widget-button-min widget__slider-button" type="button">
                        <svg>
                            <use xlink:href="#light_slash"></use>
                        </svg>
                    </button>
                    <input class="js-widget-slider-range widget__slider" type="range" min="0" max="100" value="50" step="1">
                    <button class="js-widget-button-max widget__slider-button" type="button">
                        <svg>
                            <use xlink:href="#light_on"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="widget-cell width-3 height-1">
            <div class="widget">
                <div class="js-widget-slider widget__container widget__container--slider_horizontal">
                    <button class="js-widget-button-min widget__slider-button" type="button">
                        <svg>
                            <use xlink:href="#volume_slash"></use>
                        </svg>
                    </button>
                    <input class="js-widget-slider-range widget__slider" type="range" min="0" max="100" value="50" step="1">
                    <input class="js-widget-slider-input widget__slider-value" type="text" min="0" max="100" value="50%" readonly>
                </div>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell width-2 height-2">
            <div class="widget">
                <div class="widget__container">
                    <div class="widget__pie" style="--p:60;--c:#1492E6;--b:15px">
                        <span class="widget__button-label text-center">GPU</span>
                        <span class="widget__button-title text-center">60%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell width-1 height-5">
            <div class="widget">
                <div class="js-widget-slider widget__container widget__container--slider_vertical">
                    <button class="js-widget-button-min widget__slider-button" type="button">
                        <svg>
                            <use xlink:href="#volume_slash"></use>
                        </svg>
                    </button>
                    <input class="js-widget-slider-range widget__slider" type="range" min="0" max="100" value="50" step="1">
                    <input class="js-widget-slider-input widget__slider-value" type="text" min="0" max="100" value="50%" readonly>
                </div>
            </div>
        </div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
        <div class="widget-cell"></div>
    </div>
</div>